@charset "utf-8";

body {
  max-width: 400px;
  margin: 0 auto;
}

.image {
  background-image: url(logo.png);
  background-size: contain;
  background-position: center;
  background-color: red;
}

.new-item {
  border: 1px solid red;
  border-radius: 10px;
  color: white;
  background-color: red;
  position: absolute;
  top: -10px;
  left: 370px;
  width: 100px;
  height: 30px;
  text-align: center;
}

button {
  background-color: orange;
  color: white;
  border-color: orange;
  width: 200px;
  display: block;
  margin: 0 auto;
}