@charset "utf-8";

h1 {
  font-size: 25px;
  border-bottom: 3px solid lightgray;
  width: 100px;
  margin: 0 auto;
  background-color: blue;
}

.features {
  background-color: lightgray;
  border-radius: 5px;
}

th {
  background-color: lightgray;
}

button {
  color: skyblue;
}